body {
	padding-top: 70px;
}

.jumbotron {
	color: #2e3c50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2e3c50

}

.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF;
}

.navbar-inverse .navbar-brand{
	color: white;
}